<div class="container">
  <div class="row">
  <div class="col-md-7 col-sm-7">
    <h4>Today's Astronomy Picture</h4>
    <div>
      <img src="<%= NasaApi.get_api_info["url"] %>" />
      <p style="text-align: right"><span class="fa fa-copyright"></span><span><%= NasaApi.get_api_info["copyright"] %></span></p>
      <p><%= NasaApi.get_api_info["explanation"] %></p>
    </div>
  </div>

  <div class="col-md-5 col-sm-5">
    <%= alert %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <h2>PictField</h2>
      <div class="field">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :内容を記憶させる %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
